@media (min-width: 440px) {
    .content {
      width: 400px;
      margin: 0 auto; 
    }
  }
  
  @media (min-width: 576px) {
    .content {
      width: 540px;
      margin: 0 auto;
    }
  }
  
  
  @media (min-width: 768px) {
    .content {
      width: 720px;
      margin: 0 auto;
  
    }
  }
  
  
  @media (min-width: 992px) {
    .content {
      width: 960px;
      margin: 0 auto;
    }
  
  }
  
  @media (min-width: 1200px) {
    .content {
      width: 1140px;
      margin: 0 auto;
    }
  }
  
  
  
  @media (min-width: 1400px) {
    .content {
      width: 1320px;
      margin: 0 auto;
    }
  }
  
  
  